################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PS2/PS2/obj/Debug/net6.0
/PS2/PS2/obj/Release/net6.0
/PS2/PS2/obj
/PS2/.vs/PS2/FileContentIndex
/PS2/.vs/PS2/v17
/.vs
/Matrix/Matrix/obj/Debug/net6.0
/Matrix/Matrix/obj
/Matrix/.vs/Matrix
/PS2/.vs/PS2/DesignTimeBuild
/5_minutes_task/5_minutes_task/obj
/5_minutes_task/.vs/5_minutes_task/FileContentIndex
/5_minutes_task/.vs/5_minutes_task/v17
/Matrix/.vs/ProjectEvaluation
/5_minutes_task/.vs/ProjectEvaluation
/Lists_and_Strings/.vs/Lists_and_Strings/FileContentIndex
/Lists_and_Strings/.vs/Lists_and_Strings/v17
/Lists_and_Strings/Lists_and_Strings/obj
/5_minutes_task/.vs/5_minutes_task/DesignTimeBuild
/Lists_and_Strings/.vs/ProjectEvaluation
/Distance from point to segment/.vs/Distance from point to segment/v17
/Distance from point to segment/Distance from point to segment/obj
/Lists_and_Strings/.vs/Lists_and_Strings/DesignTimeBuild
/Distance from point to segment/.vs
/Matrix/Matrix/bin/Debug/net6.0
/PS2/PS2/bin/Debug/net6.0
/PS2/.vs/ProjectEvaluation
/Distance from point to segment/Distance from point to segment/bin/Debug/net6.0
/Lists_and_Strings/Lists_and_Strings/bin/Debug/net6.0
/Functions/.vs/Functions
/Functions/Functions/obj
/Functions/.vs/ProjectEvaluation
/Functions/Functions/bin/Debug/net6.0
/Working with files/.vs/Working with files
/Working with files/Working with files/obj
/Working with files/.vs/ProjectEvaluation
/Working with files/Working with files/bin/Debug/net6.0
/Working with files/.vs/Dictionaries/v17
/Working with files/.vs/Dictionaries
/Sort/.vs/Sort
/Sort/Sort/bin/Debug/net6.0
/Sort/Sort/obj
