################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PS2/PS2/obj/Debug/net6.0
/PS2/PS2/obj/Release/net6.0
/PS2/PS2/obj
/PS2/.vs/PS2/FileContentIndex
/PS2/.vs/PS2/v17
/.vs
